/* Created by: MariaG
* Created on: May 3, 2022
* This CSS file defines the style for index.html
* ICS2O-Assign-04-HTML-ShawarmaOrder
*/

body {
  width: 80%;
  margin: 5% 10%;
  font-family: Helvetica, Arial, sans-serif;
}

.border {
  border: solid 1px;
  padding: 10px;
}

#td-one {
  width: 25%;
}

img {
  width: 100%;
}

#td-two {
  width: 75%;
}

h2 {
  margin-left: 30px;
}

p {
  margin-left: 30px;
}

#img-margin {
  margin-top: 30px;
}

h4 {
  color: #fd7c17;
  font-weight: bold;
}

th {
  font-size: 16px;
}

#two {
  width: 50%;
}

#one {
  width: 50%;
}

#results {
  padding: 20px;
  background-color: #fdfebd;
  margin-right: 30px;
  height: 110px;
}

#red {
  padding: 10px;
  color: white;
  background-color: #f77149;
  border: none;
}

p {
  margin-right: 30px;
}

#grey {
  background-color: #ebe9e8;
  padding: 10px 30px 20px 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}
